#navbar{
    display: flex;
    gap:30px;
    background-color: teal;
    color: white;
    width:100%;
    justify-items: flex-end;
    height:70px;
    margin-bottom: 20px;
    justify-content: space-around;
    /* padding-left: 65%; */
    font-size: 25px;
    /* padding-bottom: 60px; */
    /* text-align: right; */
}
#container{
    margin-top: 50px;
}
#container1{
    margin: auto;
    width: 50%;
    
    text-align: center;
}

input{
    margin-bottom: 10px;
}
#container2{
    margin-top: 30px;
    
    text-align: center;
    /* text-transform: ; */
}